#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "lxd"
name = "LXD"
description.en = "Manage virtual machines and system containers"
description.fr = "Gérer les machines virtuelles et les conteneurs système"

version = "6.6~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "Apache-2.0"
website = "https://linuxcontainers.org/lxd/"
demo = "https://linuxcontainers.org/lxd/try-it/"
admindoc = "https://linuxcontainers.org/lxd/docs/master/index.html"
code = "https://github.com/canonical/lxd"
cpe = "cpe:2.3:a:canonical:lxd"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "500M"
ram.build = "600M"
ram.runtime = "500M"

[install]

[resources]
    [resources.sources.main]
    url = "https://github.com/canonical/lxd/releases/download/lxd-6.6/lxd-6.6.tar.gz"
    sha256 = "2ddfa88441ef1f4f1f0b49cce11285620e34f3245e792f22034a688f3c07233a"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^lxd-.*.tar.gz$"
    autoupdate.version_regex = "^lxd-(.*)$"

    [resources.system_user]

    [resources.apt]
    packages = [
        # According to https://documentation.ubuntu.com/lxd/en/latest/installing/#install-lxd-from-source
        "attr",
        "autoconf",
        "automake",
        "build-essential",
        "gettext",
        "git",
        "libacl1-dev",
        "libapparmor-dev",
        "libcap-dev",
        "liblxc1",
        "lxc-dev",
        "libseccomp-dev",
        "libsqlite3-dev",
        "libtool",
        "libudev-dev",
        "liblz4-dev",
        "libuv1-dev",
        "make",
        "meson",
        "ninja-build",
        "pkg-config",
        "python3-venv",
        "iproute2",
        "nftables",
        "rsync",
        "squashfs-tools",
        "tar",
        "xz-utils",

        # For lvm2
        "lvm2",
        "thin-provisioning-tools",

        # For btrfs
        "btrfs-progs"
    ]
