[Unit]
Description=LXD - unix socket

[Socket]
ListenStream=/var/lib/__APP__/unix.socket
SocketMode=0660
SocketGroup=__APP__
Service=__APP__.service

[Install]
WantedBy=sockets.target