[Unit]
Description=LXD - unix socket

[Socket]
FileDescriptorName=unix
ListenStream=/var/lib/__APP__/unix.socket
SocketGroup=__APP__
SocketMode=0660
Service=__APP__.service

[Install]
WantedBy=sockets.target
